/* .Home{
    background-image: url("../../images/VIDA_SALUDABLE_20180119.jpg");
    background-size: cover;
    /*Escala la imagen al mayor tamaño posible sin estirarla./  */
    /* background-repeat: no-repeat;
    background-position: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    overflow: auto;
    margin: 0%;
} */ 