.Paginado{
    border-radius: 5px;
    border-color: rgba(252, 249, 253, 0.744);
    background: hsla(96, 96%, 52%, 0.801);
    color: hsl(0, 74%, 46%);
    margin: 2px;
    margin-block-end: 10px;
    font-size: 15px
}