#recipeDetail {
  background-image: url("../../images/Background-Home-2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
}

#detailCard {
  color: rgb(43, 43, 43);
  margin-top: 50px;
  margin-left: 250px;
  padding: 20px;
  width: 800px;
  background-color: rgba(248, 179, 100);
  border-radius: 5px;
  border: solid rgb(231, 224, 224) 2px;
  box-shadow: 0 0 4px #000000a8;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
}


#span {
  margin-left: 15px;
}

#button {
  min-width: 130px;
  height: 40px;
  color: rgb(0, 0, 0);
  padding: 3px 3px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: none;
  background: rgba(255, 236, 236, 0.8);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 30px;
}

#button:hover {
  background-color: white;
}

#spanh4 {
  color: rgb(167, 16, 16);
}

#loading {
  display: flex;
  margin-top: 10rem;
  margin-left: 658px;
  margin-bottom: 10em;
}

#dot {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  animation: wavy 0.4s ease-in infinite alternate;
}

#dot:not(:last-child) {
  margin-right: 10px;
}

@keyframes wavy {
  to {
    transform: translateY(-10px);
  }
}

#dot:nth-child(2) {
  animation-delay: 0.2s;
}

#dot:not(:last-child) {
  animation-delay: 0.4s;
}