#Home {
  background-image: url("../../images/Background-Home-2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
}

#div_h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6em;
  border-color: rgb(0, 0, 0);
  border-radius: 5em;
  background: rgba(248, 179, 100);
  width: 19vw;
  height: 10vh;
  margin-left: 35em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#h1 {
  display: flex;
  justify-content: center;
  margin-left: 1em;
  color: rgb(46, 46, 46);
}

/* Loading */
#loading {
  display: flex;
  margin-top: 4rem;
  text-align: center;
  margin-left: 41em;
}

#dot {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  animation: wavy 0.4s ease-in infinite alternate;
}

#dot:not(:last-child) {
  margin-right: 10px;
}

@keyframes wavy {
  to {
    transform: translateY(-10px);
  }
}

#dot:nth-child(2) {
  animation-delay: 0.2s;
}

#dot:not(:last-child) {
  animation-delay: 0.4s;
}

#img {
  background-image: none;
  border-radius: 4em;
  display: inline-block;
  margin-left: 1em;
}

#div_Select {
  display: flex;
  column-gap: 25px;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1em;
}


#select_Home {
  color: black;
  height: 2em;
  border-radius: 2em;
  background-color: rgba(255, 236, 236, 0.8);
  border: none;
  font-size: 14px;
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}

#select_Home:hover {
  background-color: white;
}

#h5 {
  margin-right: 35em;
  color: black
}


#buttonClear {
  min-width: 120px;
  border: none;
  color: rgb(0, 0, 0);
  height: 2em;
  border-radius: 2em;
  background-color: rgba(248, 179, 100);
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}

#divCard {
  padding-bottom: 700px;
}