#cardRecipe {
  width: 340px;
  height: 420px;
  background: rgba(248, 179, 100);
  border-radius: 20px;
  transition: all 0.3s;
  margin: 0px 45px 45px 45px;
  float: left;
  -webkit-text-fill-color: rgb(43, 43, 43);
  -webkit-text-stroke: 0.5px rgb(75, 71, 71);
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}

#cardRecipe:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}

#image {
  width: 340px;
  height: 215px;
  border-radius: 20px 20px 0px 0px;
}

#h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 1px;
  font-weight: 600;
}

#label {
  font-weight: 500;
  margin-left: 5px;
}

#p {
  display: inline-block;
  margin: 0.05rem 0.2rem 0.05rem 0.2rem;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: smaller;
  padding: 0.1rem 0.4rem;
  margin-left: 1px;
  border-radius: 15px;
  background-color: rgba(255, 236, 236, 0.8);
  width: fit-content;
}

#buttonRecipe {
  background-color: rgba(255, 236, 236, 0.8);
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  padding: 3px 3px;
  min-width: 100px;
  height: 25px;
  cursor: pointer;
}

#buttonRecipe:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#button1 {
  font-weight: bold;
  background-color: rgba(255, 236, 236, 0.8);
  border: none;
  border-radius: 30px;
  padding: 3px 3px;
  min-width: 100px;
  height: 25px;
  cursor: pointer;
}

#button1:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#button2 {
  font-weight: bold;
  background-color: rgba(255, 236, 236, 0.8);
  border: none;
  border-radius: 30px;
  min-width: 100px;
  height: 25px;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 20px;
}

#button2:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}