#header {
  display: flex;
  background-color: rgba(248, 179, 100);
  width: 100%;
  height: 56px;
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
  justify-content: center;
}

#divContainer {
  display: flex;
  align-items: center;
  margin-left: 20px;
  column-gap: 10px;
}

#h1 {
  margin: 0px;
  text-align: center;
}

#divButtonCreate {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#buttonCreate {
  display: flex;
  min-width: 130px;
  height: 27px;
  color: rgb(0, 0, 0);
  padding: 3px 3px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  border: none;
  background: rgba(255, 236, 236, 0.8);
}

#buttonCreate:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

#link {
  text-decoration: none;
  color: inherit;
}